<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="main">
      <ion-icon name="heart"></ion-icon>
      <ion-label>Principal</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="new-alert">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Nueva alerta</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="list-alerts">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>Alertas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>