<ion-content>
  <ion-grid class="ion-no-padding">

    <ion-row id="air-info" [ngClass]='airSectionColor'>
      <ion-col class="face" [ngClass]='airSectionFace'></ion-col>
      <ion-col class="measure">
        <div class="number">{{airValue}}</div>
        <img src="../../../assets/img/air.svg" class="ambient-icon">
      </ion-col>
    </ion-row>

    <ion-row id="sun-info" [ngClass]='sunSectionColor'>
      <ion-col class="face" [ngClass]='sunSectionFace'></ion-col>
      <ion-col class="measure">
        <div class="number">{{sunValue}}</div>
        <img src="../../../assets/img/sun.svg" class="ambient-icon">
      </ion-col>
    </ion-row>
    
  </ion-grid>
</ion-content>
