ion-grid {
  height: 100%;
  color: #FBFCFC;
}

ion-row {
  height: 50%;
}

#air-info {
 
}

#sun-info {
 
}

.green-background {
  background: linear-gradient(to bottom, rgba(0,181,0,1) 0%, rgba(143,179,143,1) 100%);
}

.orange-background {
  background: linear-gradient(to bottom, rgba(255,146,10,1) 0%, rgba(255,216,168,1) 100%);
}

.red-background {
  background: linear-gradient(to bottom, rgba(230,5,5,1) 0%, rgba(230,184,184,1) 100%);
}

.face {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 90%;
}

.good-face {
  background-image: url("../../../assets/img/good-face.svg");
}

.regular-face {
  background-image: url("../../../assets/img/regular-face.svg");
}

.bad-face {
  background-image: url("../../../assets/img/bad-face.svg");
}

.ambient-icon {
  width: 50%;
  margin-top: 10px;
}

.number {
  font-size: 3em;
}

.measure {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
}