<ion-content>
  <ion-grid class="ion-no-padding">

    <ion-row id="air-info">
      <ion-col class="face good-face"></ion-col>
      <ion-col class="measure">
        <div class="number">4</div>
        <img src="../../../assets/img/air.svg" class="ambient-icon">
      </ion-col>
    </ion-row>

    <ion-row id="sun-info">
      <ion-col class="face regular-face"></ion-col>
      <ion-col class="measure">
        <div class="number">7</div>
        <img src="../../../assets/img/sun.svg" class="ambient-icon">
      </ion-col>
    </ion-row>
    
  </ion-grid>
</ion-content>
